ul{
    padding: 0px;
    width: 90px;
    height: 74px;
    background-color: aqua;
    overflow-y: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


.menu{
    display: none;
    height: 18px;
    background-color: rgb(161, 161, 63);
}

.menu1{
    background-color: greenyellow;
    height: 20px;
}
ul:hover li{
    display: block;
}